body{
    /* Fixes calculator orientation */
    display: flex;
    justify-content: center;
    align-items: center;

    /* This is what puts it in the center */
    height: 100vh
}
.calc-container{

    /* Sizing */
    width: 500px;
    height: 700px;
    
    /* Orientation */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Border */
    border-style: solid;
    border-width: thick;
    border-radius: 25px;
    border-color: black;

    /* Background */
    background-color: #3b3b38;
}

/* Calculator display */
.display{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    background-color: #a0fb98;
    border-radius: 15px;

    font-size: 2.5vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 450px;
    height: 20%
}


/* Button properties */
#buttons-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 70%;
    gap: 10px;
}


.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    gap: 10px;
}


/* Button Spacing */

.number, .clear, .operation, .plusMinus{
    width: 100%;
    height: 100%;
    
}

.division, .backspace{
    width: 100%;
    height: 50%;
}

.equalSign{
    width: 100%;
    height: 100%;
}


/* Button style */

button{
    border-radius: 10px;
}

.number{
    color: #a0fb98;
    background-color: black;
}

.clear{
    background-color: #cc0000;
    color: black;
}

.operation, .division{
    background-color: #003b00;
    color: white;
}

.plusMinus, .backspace{
    background-color: #357a38;
    color: white;
}

.equalSign{
    background-color: #a0fb98;
    color: black;
}

